on:
  push:
    branches:
      - main
      - master
      - nftables
  pull_request:
name: build
jobs:
  build:
    strategy:
      matrix:
        go-version: [1.21.x, 1.22.x]
        goarch: [amd64, arm64]
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Build
      env:
        GOARCH: ${{ matrix.goarch }}
      run: go build -o multi-networkpolicy-iptables_${{ matrix.goarch }} ./cmd/multi-networkpolicy-iptables/
