name: e2e-kind
on:
  push:
    branches:
      - main
      - master
      - nftables
  pull_request:
jobs:
  e2e-kind:
    runs-on: ubuntu-latest
    steps:
      - name: Install bats
        run: sudo apt install bats

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Setup registry
        run: docker run -d --restart=always -p "5000:5000" --name "kind-registry" registry:2
  
      - name: Get tools
        working-directory: ./e2e
        run: ./get_tools.sh

      - name: Setup cluster
        working-directory: ./e2e
        run: ./setup_cluster.sh

      - name: "Test: simple"
        working-directory: ./e2e
        run: |
          export TERM=dumb
          # enable ip6_tables
          sudo modprobe ip6_tables

          ./run_all_tests.sh

      - name: Upload logs
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: kind-logs-e2e
          path: ./e2e/artifacts/
